@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css';

body {
    margin: 0;
}

article{
    height: 100vh;
    text-align: center;
}

article .image-wrapper:nth-child(1){
    padding: 250px;
}

.image-wrapper-lower{
    padding: 100px;
}

article div i{
    color: white;
    position: relative;
    top: -10px;
    left: -35px;
}

article:nth-child(1){
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}

article:nth-child(2){
    background: linear-gradient(90deg, rgba(36,0,11,1) 0%, rgba(121,9,26,1) 12%, rgba(255,185,0,1) 100%);
}

article:nth-child(2){
    top:-20px;
}